.CategoryItems {
  width: 400px;
  border-radius: 3px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border-color: #ddd;
  color: #333;
  .CategoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px;
    span {
      font-weight: 500;
      font-size: 20px;
    }
  }
}