.RestaurantsContainer {
  margin-right: auto;
  margin-left: auto;
  
  background-color: #f7f7f7;
}

.Restaurants {
  box-shadow: 0 0 5px 0 #aba9ab;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  .SortRestaurants {
    margin-left: 40px;
    display: flex;
    align-items: baseline;
  }

}

.RestaurantHeaderText{
    padding: 11px 0px;
    font-size: 16px;
    line-height: 1.3;
    
  h2{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    height: 60px;
    font-size: 22px;
    padding-left: 10px;
    margin: 2rem!important 0;
    &:hover {
      background-color: #eeeeee; 
    }
  }
}

.RestaurantSearchInput {
  text-align: right;
  span {
    margin-right: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    .ant-input-suffix{
      
      margin-right: 0px;
    }
  }
}

.AllRestaurants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr) ) ;
  grid-auto-rows: 234px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right: 40px;
}


@media (min-width: 1000px){
  .Restaurants {
    width: 1000px;
  }
  
}
@media (max-width: 777px){
  .AllRestaurants {
    margin-right: 0px;;
  }
  .RestaurantSearchInput{
    text-align:center;
    margin: 0px;
  } 
}
