.RestaurantsContainer {
  margin-right: auto;
  margin-left: auto;
  
  background-color: #f7f7f7;
}

.Restaurants {
  height: 100%;
  box-shadow: 0 0 5px 0 #aba9ab;
  background: #fff;
  margin-right: auto;
  margin-left: auto;
  .SortRestaurants {
    margin-left: 25%;
    display: flex;
    align-items: baseline;
  }

  .ResInnerContainer {
    display: flex;
    .SearchFilterContainer {
      display: flex;
      flex-direction: column;
      .RestaurantSearchInput {
        text-align: right;
        span {
          margin-right: 10px;
          margin-left: 10px;
          margin-bottom: 30px;
          .ant-input-suffix{
            
            margin-right: 0px;
          }
        }
      }

      .FilterRestaurants {

      }
    }
    .AllRestaurants {
      width: 75%;;
      padding-bottom: 20px;
      margin-left: 20px;
      margin-right: 40px;
    }
  }

}

.RestaurantHeaderText{
    padding: 11px 0px;
    font-size: 16px;
    line-height: 1.3;
    
  h2{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f6f6f6;
    height: 60px;
    font-size: 22px;
    padding-left: 10px;
    margin: 2rem!important;
    &:hover {
      background-color: #eeeeee; 
    }
  }
}

.RestaurantSearchInput {
  text-align: right;
  span {
    margin-right: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
    .ant-input-suffix{
      
      margin-right: 0px;
    }
  }
}


@media (min-width: 1000px){
  .Restaurants {
    width: 1000px;
  }
  
}
@media (max-width: 700px){
  .RestaurantsContainer {
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
  }
  .Restaurants {
    .RestaurantHeaderText{
      display: flex;
      justify-content: center;
    }
    .SortRestaurants {
      justify-content: center;
      margin-left: 0px;
      margin-bottom: 10px;
    }
  }
  .AllRestaurants {
    width: 100%!important;
    margin-right: 10px!important;
    margin-left: 10px!important;
  }
  
  .RestaurantSearchInput{
    text-align:center!important;
    margin: 0px;
    span {
      margin-left: 0px;
      margin-bottom: 0px;;
    }
  } 
  .SearchFilterContainer {
    width: 35%!important;
  }
}
