.RestaurantCardContainer {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  height: 192px;
  margin: 20px;
  transition:  margin ease-in 100ms;
  cursor: pointer;
  &:hover {
    margin:0px;
    box-shadow: 0 5px 10px 0 #c2c2c2;
  }
}
.ResLogoDiv {
  border-bottom: 1px solid #e0e0e0;
  img{
    width:115px;
    height: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
}
.ResInfoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  .ResName {
    color: #212121;
    font-weight: 500!important;
    line-height: 1.7;
    margin-top: 5px;
    margin-bottom: 0px;
   
  }
  .ResType {
    line-height: 1.7;
    margin: 0;
    color: #727272;
  }

}