.HomeProductCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 70px;
  float: none;
  max-width: 1100px;
}

@media (min-width: 1200px) {
  .HomeProductCards {
    
  }
}

@media (max-width: 1000px) {
  .HomeProductCards {
    
  }
}

@media (max-width: 767px) {
  .HomeProductCards {
    flex-wrap: nowrap;
  }
}