.HomeProductCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 70px;
  float: none;
  width: 75%;
  
}

@media (min-width: 1200px) {
  .HomeProductCards {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  .HomeProductCards {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .HomeProductCards {
    width: 100%;
    flex-wrap: nowrap;
  }
}