// colors: base font
$color-brand-1: #ff7119;
$color-brand-2: #fdf8f8;

$font-size-base: 14px;
// fonts: weights
$font-light: 300;
$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

// Box shadow
$card-box-shadow: 0px 3px 10px -2px #ccc;

// font sizes
$font-small: 12px;

// font-color
$font-color-light: #b8b4b4;