@import '../../../styles//variables.scss';

.HomeTextMarketing {
  
  margin-bottom: 50px;
  h2 {
    font-weight: $font-bold;
    font-size: $font-big;
  }
  p {
    color: $font-color-black-light;
    font-size: $font-normal;
  }
}
.FirstText{
  margin-top: 520px;
}
