@import "../../../styles//variables.scss";

.CartCheckoutContainer {
  margin-right: auto;
  margin-left: auto;
  
  background-color: #fff;
  box-shadow: 0 0 5px 0 #aba9ab;
}

.CheckoutSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0 0 5px 0 #aba9ab;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  .CheckoutInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: auto;
    .CheckoutItems {
      width: 40%;
      border-radius: 5px;
      border: solid lightgrey 1px;
      box-shadow: 0 0 5px 0 #aba9ab;
    }
    .Address {
      width: 50%;
      display: flex;
      flex-direction: column;
      span {
        text-overflow: ellipsis;
      }
    }
  }
  .MenuRecommendations {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    margin-top: auto;
  }
}
.StripeCheckout {
  margin-left: 10%;
  margin-top: 50px!important;
  width: 200px!important;
}
.slick-slider {
  width: 80%!important;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px
}

.span-card-title {
  font-weight: $font-bold;
}
.ant-card-head-title {
  padding: 0 0;
}

@media (min-width: 1000px){
  .CheckoutSection {
    width: 1000px;
  }
  
}