@import '../../styles//variables.scss';
.Footer {
  height: 100px;
  color: $font-color-footer;
  background-color: $color-footer;
  
  h2 {
    color: $font-color-footer;
    margin: 0px 0px;
  }
  h4 {
    color: $font-color-footer;
  }
  .FooterInfos {
    display: flex;
    justify-content: space-around;
    .ContactPages {
      font-size: medium;
      a {
        margin-right: 25px;
        color:$font-color-footer;
        font-size: $font-medium;
      }
    }
    .SocialIcons {
      display: flex;
      span {
        font-size: $font-medium;
        margin-right: 15px;
      }
    }
  }
}