.RestaurantContainer {
  margin-right: auto;
  margin-left: auto;
  
  background-color: #f7f7f7;
}

.Restaurant {
  box-shadow: 0 0 5px 0 #aba9ab;
  background: #fff;
  margin-right: auto;
  margin-left: auto;

}