.RestaurantContainer {
  margin-right: auto;
  margin-left: auto;
  
  background-color: #f7f7f7;
}

.Restaurant {
  box-shadow: 0 0 5px 0 #aba9ab;
  background: #fff;
  margin-right: auto;
  margin-left: auto;

  .RestaurantHeader {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    .RestaurantInfos {
      margin-top: 20px;
    }
  }
  .RestaurantMenu {
    display: flex;
    .Categories {
      width: 30%;
      height: 365px;
      border-radius: 2px;
      background-color: #fff;
      box-shadow: 0 2px 1px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.02);
      border: .5px solid rgba(0,0,0,.1);
      padding: 16px 15px;
    }
    .Menus {

    }
  }
  

}

@media (min-width: 1000px){
  .Restaurant {
    width: 1000px;
  }
}