@import "../../../../styles//variables.scss";

.CartCard {
  display: flex;
  flex-direction: column;
  .CartCardHeader {
    h2 {
      color: white;
    }
    background-color: #ff7119;
  }
  .CartRestaurantName {
    h3 {
      margin: 7px 0 7px 0;
    }
  }
  .CartItem {
    display: flex;
  }
  .CartNoItemsImage {
    height: 200px;
    background-color: #fdf8f8;
  }
  table {
    background-color: #fdf8f8;
    tbody{
      tr{
        td {
          span {
            display: inline-block;
            width: 23px;
          }
        }
      }
    }
  }
  .CardCheckout {
    height: 150px;
    padding: 10px;
    div {
      display: flex;
      justify-content: space-between;
      margin-top:10px;
    }
    .DeliveryFee {
      span {
        color: $font-color-light;
      }
      
    }
    button {
      margin-top: 10px;;
    }
  }
}